@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
*{
    margin:0px;
    box-sizing: border-box;
    border:0px solid black;
}
/**************************************
    Adding Custom Fonts Block Starts
***************************************/
@font-face {
    font-family: 'Blacksword';
    src: url('fonts/Blacksword.woff2') format('woff2'),
         url('fonts/Blacksword.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'GoodBrush';
    src:url('fonts/GoodBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
/**************************************
    Adding Custom Fonts Block Ends
***************************************/  
.nav-bar-hamburger-symbol{
    color:#ffffff;
    position: absolute;
    left: 0;
    margin-left:20px;
    visibility: hidden;
}
.nav-bar-Xmark-symbol{
    color:#ffffff;
    position: absolute;
    left: 0;
    margin-left:20px;
    visibility: hidden;
}
.nav-bar-list-container{
    list-style-type: none;
    color:white;
    display: flex;
    flex-direction: row;

}
.nav-bar-container{
    background-color: rgb(0, 118, 208);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 6px rgba(2, 2, 2, 0.1);
    width:100%;
}

.nav-bar-li-container{
    padding:20px;
    font-family:"Times New Roman";
    font-size: 20px;
}
.nav-bar-logo{
    height:100px;
    width:100px;
}
.nav-bar-logo-title{
    font-family: "Yatra One", serif;
    color:white;
}


/**************************************
    bg-container Conatainer Block
***************************************/
.bg-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:20px;
    flex-wrap: wrap;

}
/**************************************
    bg-container Conatainer Block Ends
***************************************/
/**************************************
    aboutUs Conatainer Block starts
***************************************/
.aboutUs-container{
    margin: 30px;
    display: flex;
    padding:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px 10px rgba(2, 2, 2, 0.712);    
    border-radius:20px;
    width:500px
}
.aboutUs-image-container{
    height:350px;
    width:350px;
    border-radius:20px;
}

.aboutUs-image{
    height:100%;
    width:100%;
    border-radius:20px;
}
.aboutUs-text-container{
    width:350px;
    padding:10px;

}
.aboutUs-heading-container{
    font-family: 'GoodBrush';
    text-align: center;
    margin-bottom: 10px;
}
.aboutUs-parah-container{
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: left;    
}
.aboutUs-span-name-container{
    font-family: 'Times New Roman';
    font-weight: bold;
}
.aboutUs-managing-director-container{
    height:100px;
    width:100px;
}
.aboutUs-managing-director-image{
    height:100%;
    width:100%;
}
/**************************************
    aboutUs Conatainer Block Ends
***************************************/
/**************************************
    Our Vision Conatainer Block Starts 
***************************************/

.ourVision-image-container{
    height:350px;
    width:350px;
    border-radius:20px;
}

.ourVision-image{
    height:100%;
    width:100%;
    border-radius:20px;
}


.ourVision-container{
    margin: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 10px 10px rgba(2, 2, 2, 0.712);    
    border-radius:20px;

}
.ourVision-text-container{
    width:350px;
    padding:10px;

}
.ourVision-heading-container{
    font-family: 'GoodBrush';
    font-size: 30px;
}
.ourVision-parah-container{
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: left;
}
/**************************************
    Our Vision Conatainer Block Ends 
***************************************/

/**************************************
    Our Mission Conatainer Block starts
***************************************/
.ourMission-text-container{
    width:350px;
    padding:10px;
    order:-1;
}

/**************************************
    Our Mission Conatainer Block Ends
***************************************/


/******************************************
    Footer Section Conatainer Block starts
*******************************************/
.Footer-section-container{
    background-color: rgb(0, 118, 208);
    font-family:"Times New Roman";
    display: flex;
    flex-direction: column;
}
.customer-service-container{
    width:350px;
    padding:10px;
    align-self: center;
}
.customer-service-heading-container{
    margin-bottom: 20px;
    color:#ffffff;
    font-size: 24px;
}
.customer-service-parah-container{
    color:#fefefea1;
    margin-bottom: 10px;
}
.whatsapp-anchor-container{
    display: block;
    text-decoration:none;
    color:#fefefea1;
}

/*********************************************
    copyright Section Conatainer Block Starts
**********************************************/

.copyright-container{
    color:#fefefea1;
    margin-bottom: 10px;
}

/*********************************************
    copyright Section Conatainer Block End
**********************************************/
/******************************************
    Footer Section Conatainer Block Ends
*******************************************/


@media screen and (max-width:810px)
{
    .ourVision-container{
        flex-wrap: wrap;
        width:350px;
    }
    .ourVision-heading-container{
        font-size: 20px;
    }
    .ourVision-parah-container{
        font-size: 15px;
    }
    .ourVision-image-container{
        height:350px;
        width:350px;
        border-radius:20px;
    }
    .aboutUs-container{
        width:400px;
    }
    .aboutUs-heading-container{
        font-size: 25px;
    }
    .aboutUs-parah-container{
        font-size: 15px;
    }
    .nav-bar-list-container{
        display: none;
    
    }
    .nav-bar-item-hamburger-visibility{
        visibility: visible;
    }
    .nav-bar-item-xmark-visibility{
        visibility: visible;
    }
}

